body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to right, #6a7bd1, #7e57c2);
  color: white;
}

.hidden {
  display: none;
}

#loginBox {
  width: 300px;
  margin: 100px auto;
  text-align: center;
}

input {
  width: 80%;
  padding: 8px;
  margin: 8px;
}

button {
  padding: 8px 15px;
  cursor: pointer;
}

.bidCard {
  background: rgba(255,255,255,0.15);
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
}