body {
  font-family: Arial;
  padding: 30px;
  background: #f4f6f9;
}

h1 {
  color: #333;
}

input, select, button {
  padding: 8px;
  margin: 6px 0;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

pre {
  background: #111;
  color: #0f0;
  padding: 15px;
}