body {
  background: linear-gradient(120deg,#6a7bd1,#7e5bb7);
  font-family: Arial;
  color: white;
}

h1 { text-align:center; }

.center {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login-box {
  background:#2f2f5f;
  padding:25px;
  border-radius:10px;
}

input, button {
  width:100%;
  padding:8px;
  margin-top:8px;
  border-radius:5px;
  border:none;
}

button {
  background:#ffd966;
  cursor:pointer;
}

.grid {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap:15px;
  padding:20px;
}

.card {
  background:#3c3c78;
  padding:15px;
  border-radius:10px;
  font-size:14px;
}